/* Dark Mode Styles */

body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark-mode h1 {
  color: #ffffff;
}

body.dark-mode .character-item,
body.dark-mode .character-item-start {
  background-color: #000000;
}

body.dark-mode .container {
  background-color: #1e1e1e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

body.dark-mode button {
  background-color: #333;
  color: #e0e0e0;
}

body.dark-mode button:hover {
  background-color: #555;
}

body.dark-mode .modal-open-button {
  background-color: rgba(0, 0, 0, 1);
}

body.dark-mode .character-card {
  background-color: #333;
}

body.dark-mode .user-stats-display,
body.dark-mode .user-settings-display .modal {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

body.dark-mode .modal {
  background-color: #1e1e1e;
}

body.dark-mode .leaderboard-modal-content {
  background-color: #1e1e1e;
}

body.dark-mode .expand-button {
  background-color: #333;
  color: #e0e0e0;
}

body.dark-mode .expand-button:hover {
  background-color: #555;
}

body.dark-mode .enemy-details h2 {
  color: #ffffff;
}

body.dark-mode .enemy-details p {
  color: #e0e0e0;
}

body.dark-mode .leaderboard-title {
  color: #e0e0e0;
}

body.dark-mode .leaderboard-score {
  color: #1e1e1e;
}

body.dark-mode .battle-logs-container {
  background-color: #333;
  border: 1px solid #555;
}

body.dark-mode .battle-logs {
  color: #e0e0e0;
}

body.dark-mode .fa-chevron-down, body.dark-mode .fa-chevron-up, body.dark-mode .fa-cog {
  color: #e0e0e0;
}

/* General Styles */
html {
  user-select: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: #333;
  margin-top: 20px;
}

/* Container Styles */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Button Styles */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Character Card */
.character-card-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9998;
}

@keyframes popUp {
  0% {
    transform: translate(-50%, -50%) scale(0.8); /* Start from a smaller size */
    opacity: 0; /* Start with no visibility */
  }
  100% {
    transform: translate(-50%, -50%) scale(1); /* End at the normal size */
    opacity: 1; /* Fully visible */
  }
}

.character-card-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 9999;
  max-width: 400px;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
  transform: translate(-50%, -50%) scale(0.8);
  animation: popUp 0.1s ease-out forwards
}

.character-card {
  background-color: #2c2f3a;
  border-radius: 20px;
  padding: 15px;
  color: #fff;
  font-family: 'Arial', sans-serif;
  width: 100%;
  box-sizing: border-box;
}

.character-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.character-clickable {
  display: flex;
  cursor: pointer;
  background-color: #2c2f3a;
  border-radius: 8px;
  padding: 5px 10px;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
  padding: 5%;
  max-width: 30px;
  max-height: 30px;
}

.character-clickable:hover {
  background-color: #3a434d;
  transform: scale(1.05); /* Slight zoom on hover */
}

.character-clickable img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 50%;
}

.character-image {
  width: 70px;
  height: 70px;
  border-radius: 8px;
}

.character-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.character-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0%;
}

.attributes-grid {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  gap: 8px;
}

.attribute {
  display: flex;
  justify-content: space-between;
}

.passives-list {
  display: flex;
  gap: 15px;
  overflow-x: auto;
}

.passive-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passive-name {
  overflow: hidden;
}

/* Character Selection Styles */
.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.character-item,
.character-item-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #e9ecef;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.character-item > img,
.character-item-start > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.character-item h2,
.character-item-start h2 {
  margin: 10px 0 5px;
}

.character-item p,
.character-item-start p {
  margin: 5px 0;
}

/* Battle Menu Styles */
.battle-menu {
  margin-top: 20px;
}

.battle-space {
  display: flex;
  justify-content: space-between;
}

.turn-await-message {
  font-size: 18px;
  margin: 10px 0;
}

.character-passives {
  margin-top: 10px;
}

/* End Battle Styles */
.end-battle {
  margin-top: 20px;
}

.character-item.active-turn {
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 10px;
}

/* User Stats Display */
.user-stats-toggle {
  position: absolute;
  right: 5px;
  color: black;
  border: none;
  cursor: pointer;
}

.user-stats-display {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: none;
  color: black;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  z-index: 1000;
}

.user-stats-display.visible {
  background: white;
}

.user-stats-display button {
  margin-top: 10px;
}

/* User Stats Display */
.user-settings-display {
  position: fixed;
  top: 10px;
  left: 10px;
  color: black;
  border-radius: 5px;
  text-align: center;
  z-index: 1000;
}

.user-settings-display .fa-cog {
  font-size: 30px;
  cursor: pointer;
  color: black;
  transition: color 0.3s ease;
}

.user-settings-display .fa-cog:hover {
  color: #007bff;
}

.user-settings-display .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.user-settings-display .modal {
  display: flex;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  flex-direction: column;
}

.user-settings-display .modal input {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.user-settings-display .modal button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.user-settings-display .modal button:last-child {
  background-color: #ccc;
  color: black;
}

/* Success and error messages */
.user-settings-display .modal p {
  margin-top: 10px;
  font-size: 14px;
}

.user-settings-display .modal p.success {
  color: green;
}

.user-settings-display .modal p.error {
  color: red;
}

/* Leaderboard */

.leaderboard-modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  animation: popUp 0.1s ease-out forwards;
  width: 800px;
  max-width: 100%;
  max-height: 70%;
}

.leaderboard-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}

/* List Styles */
.leaderboard-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Entry Styles */
.leaderboard-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  gap: 2%;
}

.leaderboard-position {
  font-size: 18px;
  font-weight: bold;
  color: #3c8dbc;
  width: 10%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.position-1 {
  background: linear-gradient(270deg, gold, red, orange);
}

.position-2 {
  background: linear-gradient(270deg, silver, gray, white);
}

.position-3 {
  background: linear-gradient(270deg, rgb(156, 56, 36), brown, darkorange);
}

.position-1, .position-2, .position-3 {
  background-size: 400% 400%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: gradientAnimation 3s ease infinite;
  font-weight: bold;
}

.section-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: rgba(128, 128, 128, 0.25);
  border-radius: 5px;
}

.leaderboard-player-name {
  font-size: 16px;
  font-weight: bold;
  color: #555;
  width: 30%;
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide any text that overflows the container */
  text-overflow: ellipsis;
}

.leaderboard-score {
  font-size: 16px;
  font-weight: bolder;
  width: 70px;
  text-align: center;
  width: 10%;
}

.leaderboard-character {
  display: flex;
  justify-content: center;
  width: 10%;
}

.leaderboard-skills {
  font-size: 14px;
  color: #555;
  width: 25%;
}

.leaderboard-skill-text,
.leaderboard-passive-text {
  font-size: 12px;
  color: #777;
}

/* Status Effects */
.status-effects {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.status-effect-item {
  position: relative;
  width: 30px;
  height: 30px;
}

.status-effect-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.status-effect-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.golden-effect {
  border: 2px solid gold;
  background-color: #f0e68c;
}

.status-effect-duration {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 10px;
  padding: 1px 2px;
  border-radius: 2px;
}

/* Health Bar */
.health-bar-container {
  position: relative;
  overflow: hidden;
}

.health-bar {
  transition: width 0.1s ease-in-out;
}

/* Modal Styles */

.outter-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  animation: popUp 0.1s ease-out forwards;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
  max-width: 400px;
  width: 100%;
  max-height: 80vh; /* Ensure it doesn't exceed 80% of the viewport height */
  overflow-y: auto; /* Allow scroll if the content overflows */
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 80vh; /* Maintain scrollable content within modal */
  overflow-y: auto;
}

.modal-open-button{
  cursor: pointer;
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.stage-select-button  {
  cursor: pointer;
  background-color: green;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

#close-button {
  background-color: #f0f0f0;
  color: grey;
  border: 1px solid #ccc;
}

.enemy-details {
  padding: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.enemy-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.enemy-details h2 {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #333;
}

.enemy-details p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #555;
}

.modal h2 {
  margin: 0;
}

.modal button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.modal button:hover {
  background-color: #0056b3;
}

.modal button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Scoped Modal Overlay */
.sign-in-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Scoped Modal Container */
.sign-in-modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Scoped Heading Style */
.sign-in-modal h3 {
  font-size: 1.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}

/* Scoped Input Styles */
.sign-in-modal input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.sign-in-modal input:focus {
  outline: none;
  border-color: #007bff;
}

/* Scoped Button Styles */
.sign-in-modal button {
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.sign-in-modal button:hover {
  background-color: #0056b3;
}

.sign-in-modal button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Scoped Close Button Styling */
.sign-in-modal button:last-child {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
}

.sign-in-modal button:last-child:hover {
  background-color: #e0e0e0;
}

/* Tab Button Styles */
.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.tab-button {
  padding: 8px 16px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  transition: all 0.2s ease;
}

.modal .tab-button.active {
  background-color: #4CAF50;
  border-color: #388E3C;
  color: white;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  pointer-events: none;
}

.tab-button:hover:not(.active) {
  background-color: #dddddd;
}

.tab-button:focus {
  outline: none;
}

/* Battle Again Button */
.battle-again-container {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 1000;
}

.battle-again-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.battle-again-button:hover {
  background-color: #0056b3;
}

/* Expand Button */
.expand-button {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.expand-button:hover {
  background-color: grey;
}

.character-passives {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: max-height 0.3s ease, visibility 0.3s ease;
}

.character-passives.expanded {
  max-height: 500px;
  visibility: visible;
}

.battle-logs-container {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
}

.battle-logs {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}
/* Responsive Design */
@media (max-width: 768px) {
  .app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .user-stats-display {
    max-width: 30%;
    max-height: 30%;
    font-size: clamp(10px, 1vw, 14px);
  }

  .user-stats-display button {
    padding: 5%;
    margin: 0;
    margin-bottom: 5%;
    max-width: 100%;
    max-height: 20%;
    font-size: inherit;
  }

  .user-settings-display i {
    font-size: clamp(25px, 1vw, 25px);
  }

  .character-item {
    width: 100px;
    font-size: clamp(10px, 1vw, 14px);
  }

  .character-item h2,
  .character-item p {
    font-size: inherit;
    margin: 0;
  }

  .enemy-image,
  .character-item > img {
    width: 80px;
    height: 80px;
  }

  .tab-button {
    font-size: 12px;
    padding: 6px 12px;
  }

  .modal {
    max-width: 80%;
    max-height: 60%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  .modal-content {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 100%;
  }

  .sign-in-modal {
    max-width: 80%;
  }

  .sign-in-modal button {
    font-size: 15px;
    padding: 6px 0px;
  }

  .battle-again-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }

  .battle-again-button {
    padding: 8px 16px;
    font-size: clamp(10px, 1vw, 14px);
  }

  .expand-button {
    font-size: 8px;
  }
}

/* Modify tooltips for mobile */
@media (pointer: coarse), (hover: none) {
  [title] {
    position: relative;
    display: inline-flex;
    justify-content: center;
  }

  [title]:focus::after {
    content: attr(title);
    position: absolute;
    top: 90%;
    color: #000;
    background-color: #fff;
    border: 1px solid;
    width: fit-content;
    padding: 3px;
    font-size: 10px;
  }
}
